body {
  font-family: Roboto,Arial,sans-serif; }

a {
  color: inherit;
  cursor: pointer;
  transition: opacity .2s ease-in;
  text-decoration: none; }
  a:hover {
    opacity: .6; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  padding: 0 1em; }

.show {
  display: flex;
  flex-wrap: wrap; }
  .show__poster {
    padding-right: 24px; }
    .show__poster img {
      width: 100px; }
  .show__info {
    flex: 1 1 50%; }
    .show__info a {
      color: #EB5657; }
  .show__title {
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 700; }
  .show__company, .show__category {
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    margin-top: 6px; }
  .show__category {
    text-transform: uppercase;
    margin-top: 0; }
  .show__description {
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    padding-top: 14px; }
  .show-action__list {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    color: #5f6368;
    font-size: .75rem;
    letter-spacing: .025em;
    margin-top: 15px;
    text-transform: uppercase; }
  .show-action__item {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px; }
  .show-action__item .fas {
    margin-right: 10px; }

.episodes__heading {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #202124;
  padding-top: 15px; }

.episode {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-flow: nowrap;
  border-bottom: 1px solid #dadce0; }
  .episode__cover {
    display: none; }
  .episode__title {
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: capitalize; }
  .episode__body {
    flex-grow: 1;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px; }
  .episode__meta {
    display: flex;
    align-items: center;
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368; }
  .episode__play-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #EB5657;
    margin-left: auto; }
  .episode__status {
    text-transform: uppercase; }

@media (min-width: 768px) {
  .container {
    width: 640px; }
  .show__poster img {
    width: 150px; }
  .show__info {
    flex: 2;
    padding-right: 20px; }
  .show-action__list {
    flex: 1;
    display: block;
    padding-top: 0;
    border: none; }
  .show-action__item {
    margin-top: 5px;
    margin-right: 0;
    padding: 5px 0 5px 15px; }
    .show-action__item a {
      display: block; }
  .show .show-action__item .fas {
    font-size: 1.125rem; } }
