body {
  font-family: Karla, -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-top: .5rem; }

a {
  color: inherit;
  cursor: pointer;
  transition: opacity .2s ease-in;
  text-decoration: none; }
  a:hover {
    opacity: .6; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  padding: 0 1em; }

.show {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .show__poster img {
    width: 150px;
    border-radius: 10px; }
  .show__info {
    padding-top: 1rem; }
  .show__title {
    font-size: 2rem;
    font-weight: 700; }
  .show__company {
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    margin-top: 6px; }
  .show__description {
    letter-spacing: .01428571em;
    font-weight: 400;
    line-height: 26px;
    color: #3c4043;
    padding-top: 14px; }
  .show-action__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px; }
  .show-action__item {
    margin-top: 0.5rem; }
    .show-action__item img {
      width: 100%;
      height: 48px; }

button {
  background: transparent;
  border: none;
  cursor: pointer; }

.episodes__heading {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding-top: 15px; }

.episodes {
  margin-top: 1rem; }

.episode {
  display: flex;
  flex-grow: 1;
  flex-flow: nowrap;
  border-bottom: 1px solid #dadce0;
  padding: 1rem 0; }
  .episode:last-child {
    border-bottom: none; }
  .episode__cover {
    display: none; }
  .episode__button--play {
    align-self: flex-start; }
    .episode__button--play svg {
      width: 30px;
      height: 30px; }
    .episode__button--play svg * {
      width: 100%;
      height: 100%; }
  .episode__title {
    letter-spacing: .01785714em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
    text-transform: capitalize;
    margin-bottom: 5px; }
  .episode__body {
    margin-left: .5rem; }
  .episode__description {
    line-height: 24px;
    display: none; }
  .episode__meta {
    display: flex;
    align-items: center;
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #8e8e93;
    text-transform: uppercase; }
  .episode__expand {
    display: none; }

@media (min-width: 768px) {
  .container {
    width: 800px; }
  .show {
    flex-direction: row;
    text-align: left; }
    .show__title {
      font-size: 2.25rem; }
    .show__poster img {
      width: 265px; }
    .show__info {
      flex: 2;
      margin-left: 2rem;
      padding-top: 0;
      padding-right: 20px; }
    .show-action__list {
      flex-direction: row; }
    .show-action__item {
      margin-left: 1rem; }
      .show-action__item img {
        width: 180px; }
  .episode {
    padding: 1.5rem 0; }
    .episode__title {
      font-size: 1.5rem;
      line-height: 30px; }
    .episode__body {
      margin-left: 1rem;
      padding-right: 2rem; }
    .episode__description {
      color: #8e8e93;
      display: block; }
    .episode__button--play svg {
      width: 40px;
      height: 40px; }
    .episode__button--play svg * {
      width: 100%;
      height: 100%; }
    .episode__expand {
      display: block;
      fill: #8e8e93; }
      .episode__expand svg {
        width: 15px;
        height: 15px; }
      .episode__expand svg * {
        width: 100%;
        height: 100%; }
    .episode__meta {
      margin-top: 1rem; } }
