body {
  font-family: Roboto,Arial,sans-serif; }

a {
  color: inherit;
  cursor: pointer;
  transition: opacity .2s ease-in;
  text-decoration: none; }
  a:hover {
    opacity: .6; }

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1040px; }

.show__title {
  font-family: "Open Sans", Roboto, Arial, sans-serif; }

.show__company {
  letter-spacing: .025em;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #5f6368;
  margin-top: 6px; }

.show__description {
  letter-spacing: .01428571em;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #3c4043;
  padding-top: 24px; }

.show-sidebar {
  color: #5f6368;
  font-size: .75rem;
  letter-spacing: .025em;
  text-transform: uppercase; }

.episodes__heading {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #202124;
  padding-top: 20px; }

.episode {
  display: flex;
  border-bottom: 1px solid #dadce0;
  justify-content: space-between; }

.episode__cover {
  display: none; }

.episode__title {
  letter-spacing: .01785714em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  overflow: hidden;
  text-overflow: ellipsis; }

.episode__body {
  overflow: hidden;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-top: 12px;
  white-space: nowrap; }

.episode__meta {
  display: flex;
  letter-spacing: .025em;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #5f6368; }

.episode__play-button {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .episode__play-button svg {
    fill: #1a73e8; }
