$heading: 'Open Sans',Roboto,Arial,sans-serif;
$heading-color: #202124;
$border-color: #dadce0;

body {
    font-family: Roboto,Arial,sans-serif;;
}

// Show
.show__title {
    font-family: $heading
}
.show__company {
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    margin-top: 6px;
}
.show__description {
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    padding-top: 24px;
}

// Episodes
.episodes__heading {
    font-family: $heading;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $heading-color;
    padding-top: 20px;
}
.episode {
    display: flex;
    border-bottom: 1px solid $border-color;
}
.episode__cover {
    display: none;
}
.episode__title {
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    overflow: hidden;
    text-overflow: ellipsis;
}
.episode__body {
    overflow: hidden;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-top: 12px;
    white-space: nowrap;
}
.episode__meta {
    display: flex;
    letter-spacing: .025em;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}