$accent-color: #EB5657;
$light-color: #8e8e93;
$border-color: #dadce0;
$layout-width: 800px;

body {
    font-family: Karla, -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 4rem;
}
a {
    color: inherit;
    cursor: pointer;
    transition: opacity .2s ease-in;
    text-decoration: none;
    &:hover {
        opacity: .6;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    padding: 0 1em;
}

// Show
.show {
    display: flex;
    flex-direction: column;
    &__poster {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    &__info {
        padding-top: 1rem;
        a {
            color: $accent-color;
        }
    }
    &__title {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    &__company,
    &__category {
        letter-spacing: .025em;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1rem;
        color: #5f6368;
        margin-top: 6px;
    }
    &__category {
        text-transform: uppercase;
        margin-top: 0;
    }
    &__description {
        letter-spacing: .01428571em;
        font-weight: 400;
        line-height: 1.25rem;
        color: #3c4043;
        padding-top: 14px;
    }
    &-action__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #5f6368;
        letter-spacing: .025em;
        margin-top: 15px;
    }
    &-action__item {
        margin-top: 0.5rem;
        img {
            width: 180px;
        }
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
// Episodes
.episodes__heading {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-top: 15px;
}
.episodes {
    margin-top: 1rem;
}
.episode {
    display: flex;
    flex-grow: 1;
    flex-flow: nowrap;
    border-bottom: 1px solid $border-color;
    padding: 1rem 0;
    &__cover {
        display: none;
    }
    &__button--play {
        align-self: flex-start;
        font-size: 3rem;
    }
    &__title {
        letter-spacing: .01785714em;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    &__body {
        flex-grow: 1;
        margin-left: 1rem;
    }
    &__description {
        line-height: 24px;
        display: none;
    }
    &__meta {
        display: flex;
        align-items: center;
        letter-spacing: .025em;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1rem;
        opacity: .5;
        text-transform: uppercase;
    }
    &__expand {
        display: none;
    }
}


// DESKTOP
@media (min-width: 768px) {
    .container {
        width: $layout-width;
    }
    .show {
        flex-direction: row;
        &__title {
            font-size: 2.25rem;
        }
        &__poster {
            img {
                width: 265px;
            }
        }
        &__info {
            flex: 2;
            margin-left: 2rem;
            padding-top: 0;
            padding-right: 20px;
        }
        &__description {
            color: #8e8e93;
            font-size: 1.375rem;
            line-height: 28px;
        }
        &-action__list {
            flex-direction: row;
        }
        &-action__item {
            margin-right: 10px;
        }
    }
    .episode {
        padding: 1.5rem 0;
        &__body {
            padding-right: 2rem;
        }
        &__description {
            color: #8e8e93;
            display: block;
        }
        &__expand {
            display: block;
            color: $light-color;
        }
        &__meta {
            margin-top: 1rem;
        }
    }
}